# Archivos de entorno
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual
venv/
env/
ENV/

# Archivos de distribución
dist/
build/
*.egg-info/
*.egg

# Archivos de edición
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Otros
.pytest_cache/
htmlcov/
.coverage